<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.heading }}{% if page.subheading %} - {{ page.subheading }}{% endif %}</title>
    <link rel="alternate" type="application/rss+xml" title="Vicente de Alencar" href="/blog/atom.xml" />
    <link rel="stylesheet" href="/blog/stylesheets/style.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="content">
        <div id="title">Vicente de Alencar</div>
        <div id="tagline">C#  &#8226  Web  &#8226  Node</div>
        <div id="links">
          <ul>
            <li class="blog"><a href="http://vicentedealencar.com.br/blog">Blog</a></li>
            <li class="github"><a href="https://github.com/vicentedealencar">GitHub</a></li>
            <li class="linkedin"><a href="http://br.linkedin.com/pub/vicente-de-alencar/24/932/495">LinkedIn</a></li>
            <li class="twitter"><a href="http://twitter.com/vicentealencar">Twitter</a></li>
            <li class="googleplus"><a href="https://plus.google.com/113567939482133549016/?rel=author" rel="author">Google Plus</a></li>
            <li class="rss"><a href="/blog/atom.xml">Twitter</a></li>
          </ul>
        </div>
        {{ content }}
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-XXXXXXXXX-X']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>